.container {
  position: relative;
  z-index: 1;
  /* mix-blend-mode: difference; */
  padding-left: 15px;
}

.title {
  /* font-size: var(--lg-font); */
  font-size: var(--md-font);
  font-weight: bold;
  mix-blend-mode: difference;
  color: white;
}

.job_title {
  font-size: 1.5rem;
}
.job_description {
  margin-top: 10px;
  font-size: 1rem;
}
.job_subtitle {
  font-size: 1.25rem;
}
.job_responsibility {
  font-size: 1rem;
}

.img {
  width: 60%;
  margin: 10px auto;
  display: block;
}
