:root {
  --lg-font: 8rem;
  --md-font: 4rem;

  --m-sm: 4px;
  --m-md: 8px;

  --pd-md: 10px;

  --txt-block: 1.5rem;
  --txt-block-lh: 1.75rem;
}

html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: Stolzl;
  font-weight: normal;
  overflow-x: hidden;
  /* min-height: 100vh; */
  background-color: red;
}

html,
body,
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.difference {
  color: white;
  mix-blend-mode: difference;
}

.container {
  position: relative;
  z-index: 1;
}

.title {
  /* font-size: var(--lg-font); */
  font-size: var(--md-font);
  font-weight: bold;
}

button {
  background: white;
  font-family: "Stolzl";
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0px;
  padding: 7px 20px;
  border: none;
  /* margin: 20px auto; */
  display: block;
  cursor: pointer;
  color: black;
}
