.container {
  color: white;
  display: flex;
  flex-direction: column;
  /* margin-left: var(--m-md); */
  /* padding: 0px var(--pd-md); */
  /* max-width: 600px; */
  /* height: 95%; */
  width: 100%;
  padding: 0px 10px;
}

@media screen and (min-width: 768px) {
  .container {
    align-items: center;
  }
}

.container > div {
  /* mix-blend-mode: difference; */
}

.header {
  mix-blend-mode: difference;
  font-size: 4rem;
  font-weight: bold;
  z-index: 1;
}

.block {
  mix-blend-mode: difference;
  /* font-size: var(--md-font); */
  font-size: 4rem;
  width: 100%;
  z-index: 1;
}

.block__bg_wrapper {
  width: 100%;
  z-index: 1;
  margin-top: 20px;
}

.block__bg {
  margin: auto;
  background-color: black;
  /* background-color: white; */
  font-size: 2rem;
  padding: 16px;
  max-width: 600px;
  border: 4px solid white;
}

.solid__bg {
  background: white;
  color: black;
  font-weight: bold;
  border: 5px solid black;
}
