.container {
  padding: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.button {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .button {
    margin-top: 0px;
  }
  .info_block {
    display: flex;
  }
}

.description {
  flex: 1 0 60%;
  margin-top: 6px;
  margin-right: 30px;
  font-size: 1rem;
}
